/* Imports */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

#content {
    position: relative;
    min-height: calc(100vh - 210px);
}

/* Header */
header {
    background-color: #fff;
    box-shadow: 0 0 10px 0px #000000a7;
    height: 110px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 15%;
    height: 100%;
    margin-left: 50px;
}

header .logo img {
    height: 100%;
    cursor: pointer;
}

header nav {
    width: 33%;
    height: 100%;
    margin-right: 50px;
}

header nav ul {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav li {
    width: 25%;
    list-style: none;
    text-align: center;
}

header nav a {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

header .search {
    width: 23%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .search form {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

header .search button,
header .search input {
    border-radius: 2px;
}

header .search input {
    width: 70%;
    border: 1px solid #000;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    color: #000;
}

header .search button {
    width: 30%;
    background-color: #244DD1 !important;
    font-size: 20px;
}

header .search input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

header .auth {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .auth div {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .auth div:first-child {
    border-right: 1px solid #000;
}

header .auth div:not(:first-child) {
    border-left: 1px solid #000;
}

header .auth a {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    text-align: center;
}

/* End of Header */


/* Footer */

footer {
    width: 100%;
    height: 100px;
    background-color: #EEEFF1;
    position: relative;
    bottom: 0;
    margin-top: auto;
    display: flex;
}

footer .info {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 60px;
}

footer .info a {
    display: flex;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6) !important;
    margin: 0;
    text-decoration: none;
}

footer .info a:nth-child(1)::after,
footer .info a:nth-child(2)::after,
footer .info a:nth-child(3)::after {
    content: '|';
    display: block;
    margin: 0 32px;
}

footer .info a:nth-child(1):hover,
footer .info a:nth-child(2):hover {
    color: #000 !important;
}

footer .rights {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

footer .rights p {
    text-align: right;
    margin: 0;
    margin-right: 15px;
    margin-bottom: 5px;
}

/* End of footer */


/* Main page */

#carousel {
    width: 100%;
    height: 540px;
    margin-top: 110px;
}

#carousel .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #244DD1;
}

#carousel .carousel-inner,
#carousel .carousel-inner .carousel-item {
    height: 100%;
}

#carousel .carousel-inner {
    background-color: #244DD1;
}

#carousel .carousel-item img {
    width: 1500px !important;
    object-fit: cover;
    height: 100%;
    margin: 0 auto;
}

.about {
    width: 850px;
    margin: 0 auto;
    margin-top: 25px;
}

.about h1 {
    margin: 0;
    text-align: center;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 36px;
    color: #000000;
}

.about .heading-line {
    width: 150px;
    height: 0px;
    border: 2px solid #244DD1;
    margin: 11px auto;
}

.about p {
    margin: 0;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

/* End of main page */