/* Imports */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ccc
}

#content {
    position: relative;
    margin-top: 120px;
}

/* Header */
header {
    background-color: #fff;
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 15%;
    height: 100%;
    margin-left: 50px;
}

header .logo img {
    height: 100%;
    cursor: pointer;
}

header nav {
    width: 33%;
    height: 100%;
    margin-right: 50px;
}

header nav ul {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav li {
    width: 25%;
    list-style: none;
    text-align: center;
}

header nav a {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

header .search {
    width: 23%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .search form {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

header .search button,
header .search input {
    border-radius: 2px;
}

header .search input {
    width: 70%;
    border: 1px solid #000;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    color: #000;
}

header .search button {
    width: 30%;
    background-color: #244DD1 !important;
    font-size: 20px;
}

header .search input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

header .auth {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .auth div {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .auth div:first-child {
    border-right: 1px solid #000;
}

header .auth div:not(:first-child) {
    border-left: 1px solid #000;
}

header .auth a {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    text-align: center;
}

/* End of Header */